 .visible {
        display: block;
   }

 .left
 {
 	margin-top: 30px;

 }

.background
{
	margin-top: 80px;padding-top: 100px;padding-bottom: 60px; 
	 position: relative;
  width: 100%;
  height: 100%;
  background: url('../images/background.jpg') center center no-repeat ;
  background-size: cover;
}
  .background:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,.9);
  }

.navbar
{
border-bottom: 1px solid #eee;
background:#fff ;
width: 100%;
padding-right:9%;
}
.navbar-header
{
	padding-left:9%;
}
.w3-button .hidden-md
{

      color: #FFBB01 !important;
      background-color: #fff !important;
      border: 2px solid;
      height: 35px;
      line-height: 5px;
      border-radius: 3px;
      margin-left: 5px;
      position: relative;
             
}


.Home span
{
 color: #FFBB01;
}
.Home button.shortlist
{
margin-top: 20px;
background-color:#fff !important;
border-color: #FFBB01!important;
border-radius: 0 !important; 
color: #FFBB01 !important;
}
.Home button.shortlist  .fa-heart
{
	color: #FFBB01 !important;
}
.right
{
  margin-top: 40px;
}
.content
{
	margin-top: 20px;
	    padding-bottom: 70px;
}
.right .part1
{
	padding-top: 20px;
	 margin-top:20px;
	 padding-bottom: 40px;
	 -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.right .part1  .dropdown-toggle small.sm
{
 float: left;
}
.right .part1 button
{
	border-radius: 0 !important;
	border-color: #D9D9D9;
	 
}
.right .part1 .btn-group
{
	margin-left:7.5% ;
}
.right .part1 .second
{
	margin-left:7.5% ;
}
.right .part1 .third
{
	margin-left:7.5% ;
}
.right .part1 button span
{   
	 color: #FFBB01;
}
.right .part1 ul li span
{
	 color: #FFBB01;
}
.right .part1 ul.dropdown-menu
{
	 width: 83%;
	 margin-left: 2.5%;
	 padding-bottom: 20px;
	 padding-top: 20px;
	 border-radius: 0 !important;
}
.right .part1 button.colored
{
	background-color: #FFBB01; color: #fff; padding-right: 140px;margin-top: 10px;
	border-color: #FFBB01 !important;
}
.right .part1 button.n-colored
{
  background-color: transparent;
  border:2px solid black; 
  padding-right: 140px;
  margin-top: 10px;
}
.right .part2
{
	padding-top: 20px;
	 margin-top:20px;
	 padding-bottom: 40px;
	 -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    width:99%;
    margin-left: 1%;
}
.right .part2 i
{
	color: #FFBB01;
}
.right .part3
{
padding-top: 20px;
	 margin-top:20px;
	 padding-bottom: 40px;
	 -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
      width:99%;
          margin-left: 1%;

}
.right .part3 span
{
	color:#000099;
}
.right .part3 p
{
margin-top:20px;	
}

.right .part3 video
{
	padding-top: 20px;
}
.right .part6
{
	margin-top: 30px;
}

.right .part6 img
{
 width: 130px;
 height: 130px;
 margin-top: 5px;

}

.right .part5
{
	margin-top: 30px;
}
.office-details
{
    margin-top: 300px;

}
.office-details ul li a
{
	padding-right: 30px;
}


.office-details .tab-content img
{
width:530px;
height: 300px;
margin-top: 20px;
}
.office-details .tab-content .main-content
{
	margin-top:20px;
}
.office-details .tab-content .main-content span
{
	border-radius:50%; 
	background-color:#FFBB01;
}
.office-details .tab-content .main-content span i
{
	color: #fff;
}
.office-details .tab-content .main-content .availableDesk
{
	 margin-left: -60px;
	 margin-top: -23px;
}
.office-details .tab-content .main-content  .data .Paragraphs
{
	margin-left: -25px;
}
.office-details .tab-content .main-content  .data  .fa-circle
{
	font-size: 6px;
}
 .office-details .tab-pane  .main-content
{
	margin-top:80px; 

}
 .office-details .tab-pane  .main-content span
 {
 	border-radius:50%;
    background-color:#FFBB01;
 }
.office-details .tab-pane  .main-content span i
{
	color: #fff;
}
.Facilies
{
	padding-top:30px;
	
    margin: auto;
    width: 97%;

}
.Facilies .bussines
{
	margin-top: 30px;
}
.Facilies .bussines .bus1 i.fa-times 
{
	color: #D9D9D9;
	margin-left: -30px;
}
.Facilies .bussines .bus1 i.fa-check  
{
	color: #FFBB01;
	margin-left: -30px;
}
.Facilies .bussines .bus1 span.gray ,.Facilies .Additional .bus2 span.gray 
{
		color: #D9D9D9;
}
.Facilies .bussines .bus1  span ,.Facilies .bussines .bus2  span ,.Facilies .Additional .bus2  span 
{
	margin-left: 10px;

}
.Facilies .bussines .bus2 i.fa-check , .Facilies .Additional .bus2 i.fa-check
{
color: #FFBB01;
}
.Additional
{
	margin-top: 200px;
}
.Facilies .Additional .bus1 i.fa-times
{
	color: #D9D9D9;
	margin-left: -30px;
}
.Facilies .Additional .bus1 i.fa-check
{
	color: #FFBB01;
	margin-left: -30px;
}
.Facilies .Additional .bus1 span.gray
{
color: #D9D9D9;
}
.Facilies .Additional .bus1  span
{
margin-left: 10px;
}
.Facilies .Additional .bus1 span.gray 
{
		color: #D9D9D9;
}
.Facilies .Additional .bus2 i.fa-times
{
	color: #D9D9D9;
}
.highlights
{
	padding-top:40px;
    margin-top:50px;
    padding-bottom: 40px;
    width: 97%;
    margin-left: 1.3%;
}
.highlights hr
{
	color:#D9D9D9;
}

.highlights .ICONIC
{
	margin-top: 20px;
}
.highlights .ICONIC .numbers 
{
	height: 30px;
	width: 30px;
	border-radius:0%; background-color:#eee;
	border-color: black;

	transform: rotate(45deg);
}
.highlights .ICONIC .numbers div
{
	margin-left: 10px;
		transform: rotate(-45deg);

	
}
.Neighbourhood .neighbours .numbers 
{
	height: 30px;
	width: 30px;
	border-radius:0%; background-color:#fff;
	border-color: black;

	transform: rotate(45deg);
}
.Neighbourhood .neighbours .numbers div
{
	margin-left: 10px;
		transform: rotate(-45deg);

	
}
.highlights .ICONIC .arch
{
margin-top: -20px;
 margin-left:-50px;
}
.highlights .AMAZING
{
	margin-top: 50px;
}
.highlights .AMAZING .no
{
	border-radius:50%;
    background-color:#FFBB01;
     width: 50%;

}
.highlights .AMAZING .no span
{
	margin-left: 13px;
	color: #fff;
}
.highlights .AMAZING .no .comm
{
  margin-top: -20px; 
  margin-left:-50px;
}
.AboutUs
{
	margin-top: 1px;
	padding-top: 60px;
	padding-bottom: 60px;
}
.question
{
	margin-top:0px; width: 100%; text-align: center;
}
.middel-div
{
	padding-top:30px;padding-bottom: 30px ;background-color:#000099; color:#fff;
}
.middel-div a
{
	text-decoration: underline;color: #fff;
}
.highlights .ICONIC #diamond
{
	width: 0;
	height: 0;
	border: 20px solid #eee;
	border-bottom-color: #fff;
	position: relative;
	margin-top: -20px;
}
.highlights .ICONIC #diamond:after {
	content: '';
	position: absolute;
	left: -20px;
	top: 20px;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #fff;
}
.Neighbourhood 
{
	background-color: #eee;
	padding-bottom: 200px;
}
.Neighbourhood h3
{
	margin-top: 100px; 
 text-align: center;
}
.Neighbourhood .image img
{
	border-radius: 50%;
}
.Neighbourhood .neighbours
{
	padding-top: 80px;
	margin-left: -40px;
}
.Neighbourhood .neighbours .row b
{
 margin-top: -15px;
}
.Neighbourhood .neighbours .row .num2
{
	margin-top: -40px;
}

.Neighbourhood .neighbours #diamond 
{
	
	width: 0;
	height: 0;
	border: 20px solid #eee;
	border-bottom-color: #fff;
	position: relative;
	margin-top: -20px;
}
.Neighbourhood .neighbours #diamond p
{
	margin-top: 3px;
	margin-left: -3px;
}
.Neighbourhood .neighbours #diamond:after {
	content: '';
	position: absolute;
	left: -20px;
	top: 20px;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #fff;
}


@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 400px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password], input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border:none;
  border-bottom: 1px solid #d9d9d9;
  
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
  border:none;
  border-bottom: 1px solid #FFBB01;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.modal-dialog small
{
	margin-left: 10px;
}
.social   i
{
	 height: 50px;
	 width: 50px;
	 font-size: 20px;
	 padding: 10px 10px 5px 10px;
	 margin-top: 15px;
	 border-radius: 50%;
	 text-align: center;
	
	 color: #fff;
}
.social i.fa-linkedin
{
	 background-color: lightblue;
}
.social i.fa-google-plus
{
background-color: darkred;
}
.social i.fa-facebook
{
	background-color: blue;
}

.help
{
	margin-top:10px;
}
.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 


button.slide-button 
{
 background-color: #FFBB01;
 width: 100%;
 margin-top: 10px;
 color: #fff;
 border:none;
}
